* {
  font-family: "Open Sans", sans-serif;
}
.header-img {
  height: 700px;
}

.cart-box {
  background-color: white;
  padding: 30px 15px;
  margin-right: 100px;
  width: 310px;
  height: 380px;
}
.search-box {
  background-color: white;
  padding: 30px 15px 0px 15px;
  margin-right: 100px;
  width: 320px;
  height: 100px;
}

.nav-content ul {
  display: flex;
}

.nav-content a {
  font-family: OpenSans;
  font-size: 13px;
}

.nav-content a:active {
  background-color: #f4f6fa;
  color: #202c45;
}

.menu-button {
  color: #777777;
}

.header .swiper {
  height: 70vh;
}

.swiper-slide {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

/* Carousel Swiper */
.carousel .swiper {
  width: 100%;
}

.carousel .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.carousel .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.single-item {
}

.single-item:hover .img-overlay {
  top: 0;
}

.img-overlay {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.3s ease-in;
}

.img-overlay::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333333;
  opacity: 0.75;
  z-index: -1;
}

.img-overlay i {
  padding: 8px;
  background-color: #202c45;
  border-radius: 50px;
}

.img-overlay i:hover {
  background-color: #151d30;
}

/* Styling For Accordion */
.accordion .contentBox .label {
  padding: 5px;
  font-size: 14px;
}

.accordion .contentBox.active .label {
  background-color: #202c45;
  color: white;
  padding: 3px 15px 4px 0px;
}

.accordion .contentBox .label::before {
  content: "+";
  color: #888;
  top: 50%;
  padding: 10px 14px;
  font-size: 28px;
  font-weight: bold;
  transform: translateY(-50%);
}

.accordion .contentBox .content {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.2s;
  overflow-y: auto;
}

.accordion .contentBox.active .content {
  border: 1px solid #e2d9d9db;
  height: 130px;
  padding: 10px 20px 20px;
}

.accordion .contentBox.active .label::before {
  content: "-";
  background-color: #f2184f;
  color: white;
  padding: 9px 16px;
  padding-top: 0px;
}

/* Tab content - closed */
.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}

/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

/* Label formatting when open */
.tab input:checked + label {
  padding: 1.25rem;
  border-left-width: 2px;
  border-color: #202c45;
  background-color: #202c45;
  height: 44.8px;
  color: #ffffff;
}

.tab input:checked + label i {
  background-color: #f2184f;
  color: white;
  height: 44.8px;
  align-items: center;
}

/* Icon */
.tab label::after {
  float: right;
}

.tab input[type="radio"] + label::before {
  content: "+";
  font-weight: bold;
  padding: 10px 14px;
  color: #666666;
  font-size: 25px;
  font-weight: bold;
}

.tab input[type="radio"] + label.active {
  content: "-";
}

@media (min-width: 768px) {
  .nav-content {
    display: block;
  }
}

@media (max-width: 767px) {
  .header-img {
    height: 750px;
  }

  .nav-content ul {
    position: fixed;
    width: 80%;
    height: 70vh;
    background: rgb(235, 229, 229);
    top: 80px;
    text-align: center;
    display: block;
    padding: 12px 20px;
    left: -100%;
    transition: all 0.5s;
  }

  .nav-content ul li a {
    font-size: 13px;
    font-family: Open Sans;
    color: #888888;
  }

  .nav-content ul li a:active {
    color: #202c45;
  }

  .menu-button:checked ~ .nav-content ul {
    left: 0;
  }

  #check:checked ~ .nav-content {
    left: 0;
  }
}

@media (max-width: 480px) {
  .header-img {
    height: 350px;
  }
}
