* {
  font-family: "Open Sans", sans-serif;
}
.header-img {
  height: 700px;
}

.topBar {
  background-color: #f2184f;
}

.nav-content a {
  font-family: OpenSans;
  font-size: 13px;
}

.nav-content a:active {
  background-color: #f4f6fa;
  color: #202c45;
}

.header .swiper {
  height: 70vh;
}

.swiper-slide {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

/* Carousel Swiper */
.carousel .swiper {
  width: 100%;
}

.carousel .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.carousel .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 480px) {
  .header-img {
    height: 350px;
  }
}

@media only screen and (min-width: 768px) {
  .header-img {
    height: 750px;
  }
}
